<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{% block title %}NOT IMPLEMENTED YET{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
    <header>
        <!-- Navigation bar or header content can go here -->
        <!-- Example navbar so we can navigate -->
        <nav>
            <ul>
                <li><a href="{{ url_for('first_page') }}">First Page</a></li>
                <li><a href="{{ url_for('second_page') }}">Second Page</a></li>
                <li><a href="{{ url_for('third_page') }}">Third Page</a></li>
                <li><a href="{{ url_for('database_test') }}">Database Test</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
    </header>

    <main>
        {% block body %}
        <!-- Child templates insert their content here -->
        {% endblock %}
    </main>

    <!-- Put any global JS scripts under here -->
</body>
</html>