<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{% block title %}NOT IMPLEMENTED YET{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <!--Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" />

    
</head>

<body>
    <header>
        <!-- Navigation bar or header content can go here -->
        <!-- Example navbar so we can navigate -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">APP NAME!!</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('first_page') }}">First Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('second_page') }}">Second Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('third_page') }}">Third Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
        {% block body %}
        <!-- Child templates insert their content here -->
        {% endblock %}
    </main>

    <!-- Put any global JS scripts under here -->
     
    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>