{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block scripts %}
 <!-- Chart.js CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        auth.onAuthStateChanged((user) => {
            if (!user) {
                window.location.href = "/login";
            }
        });
        //Donut chart initialization
        //Linter will complain since we are using jinja variables in JS (safe to ignore)
        const cts = {{ categories | tojson }};
        const amts = {{ amounts | tojson }};
        const ctx = document.getElementById('myChart').getContext('2d');
        const spendingWheel = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: cts,
                datasets: [{
                    label: 'Amounts',
                    data: amts,
                    backgroundColor: [
                        '#FF6384',
                        '#36A2EB',
                        '#FFCE56',
                        '#4BC0C0',
                        '#9966FF'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Spending Distribution'
                    }
                }
            }
        });

        function sortTable(order, column){
            const url = new URL(window.location.href);
            url.searchParams.set('sort_column', column);
            url.searchParams.set('sort_order', order);
            window.location.href = url.toString();
        }
    </script>
{% endblock %}



{% block body %}
<div class="container" style="margin-top: 2rem;">
    <h2>Your Uploaded Data</h2>

    {% if data %}
    <div class="container" style="margin-top: 2rem; max-width: 400px;">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <h3>Data Overview</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for col in data[0].keys() %}
                <th>
                    <div class="d-flex align-items-center justify-content-start">
                    <span>{{ col }}</span>
                    {% if col == 'Amount' or col =='Date' %}
                        <select class="ms-2 form-select form-select-sm w-auto" style="width:90px;" onchange="sortTable(this.value, '{{ col }}')">
                            <option value="asc" {% if sort_column == col and sort_order == 'asc' %}selected{% endif %}>Ascending</option>
                            <option value="desc" {% if sort_column == col and sort_order == 'desc' %}selected{% endif %}>Descending</option>
                        </select>
                    {% endif %}
                    </div>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for key,value in row.items() %}
                    {% if key == 'Amount' %}
                        <td class="{{'text-success' if value >= 0 else 'text-danger'}}">
                        {{ value | format_currency }}</td>
                    {% elif key == 'Date' %}
                        <td>{{ value | format_date }}</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No data to display. Upload a CSV first.</p>
    {% endif %}
</div>
{% endblock %}