{% extends 'base.html' %}

{% block title %}Upload Bank Statements{% endblock %}
{% block scripts %}
<script>
    auth.onAuthStateChanged((user) => {
        if (!user) {
            window.location.href = "/";
        }
    });
</script>
{% endblock %}

{% block body %}
<h1>Upload Your Bank Statements!</h1>
<form action="{{ url_for('upload_statement') }}" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <input type="file" class="form-control" id="file" name="file" accept=".csv" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}